# Object files
*.o
*.ko
*.obj
*.elf
*.iobj

# Precompiled Headers
*.gch
*.pch
*.ilk
*.suo
*.buildinfo
*.sln
*.user
*.filters

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.pdb
*.ipdb

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.d

__vm/*.*
Release/*.*
Debug/*.*